:root {
  --almostwhite: hsl(0, 0%, 98%);
  --mediumgray: hsl(0, 0%, 41%);
  --almostblack: hsl(0, 0%, 8%);
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1;
  font-family: "Epilogue", sans-serif;
  color: var(--mediumgray);
  height: 100vh;
  background-color: var(--almostwhite);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 9.6rem;

  &__dropdown {
    display: flex;
    align-items: center;
    gap: 5.6rem;

    &__list {
      list-style: none;
      top: 3rem;
      left: -9rem;
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      padding: 3rem 3rem;
      background-color: white;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.13);
      border-radius: 10px;

      &--2 {
        left: 0;
        padding: 3rem 2rem;
        width: 12rem;
      }

      &-item {
        display: flex;
        align-items: center;
        gap: 2rem;

        img {
          width: 1.6rem;
          height: 1.6rem;
        }
      }
    }
  }

  &__list {
    display: flex;
    gap: 3rem;
    list-style: none;
  }

  &__link {
    text-decoration: none;
    color: inherit;
    &:hover {
      cursor: pointer;
      color: var(--almostblack);
      font-weight: 500;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.6rem;
    &--1 {
      position: relative;
    }
    &--2 {
      position: relative;
    }
  }

  &__login {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  &__btn {
    padding: 1rem 2rem;
    background-color: var(--almostwhite);
    border: 1.5px solid var(--mediumgray);
    border-radius: 10px;
    cursor: pointer;

    &-login {
      border: none;

      &:hover {
        color: var(--almostblack);
        font-weight: 600;
      }
    }

    &-register:hover {
      color: var(--almostblack);
      font-weight: 600;
      border: 1.5px solid var(--almostblack);
    }
  }
}

.primary-heading {
  margin-top: 10rem;
  font-size: 9rem;
  color: var(--almostblack);
}

.section-hero {
  padding: 4rem 0;
}

.container {
  max-width: 150rem;
  margin: 0 auto;
  display: flex;
  gap: 15rem;
  height: 75vh;
}

.hero {
  &__info {
    display: flex;
    flex-direction: column;

    gap: 4rem;
    flex-basis: 40%;
  }

  &__description {
    width: 75%;
    font-size: 1.8rem;
    line-height: 1.6;
  }

  &__btn {
    margin-right: auto;

    height: 5rem;
    width: 15rem;
    background-color: var(--almostblack);
    color: var(--almostwhite);
    font-weight: 700;
    border: 1px solid var(--almostblack);
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background-color: var(--almostwhite);
      color: var(--almostblack);
      font-weight: 800;
    }
  }

  &__featured {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__img {
    flex-basis: 50%;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}

.hidden {
  display: none;
}
